a, #navigation ul ul li a:hover, ul.Featured-list li span.title, .meta a:hover, .meta-line b, #footer a:hover, h3.result-heading { 
	color:#f08824;
}
a.location:hover, #navigation, .pagination a, .widget .button, .widget input[type="submit"], #respond .button, span.more a {
	background-color:#f08824;
}
#navigation {
	border-bottom-color:#d47316;
}
.theme-default .nivo-controlNav a.active {
	background-color:#f08824;
	border-color:#d47316;
}
